<div class="container mt-5 registerPage">
  <div class="col-md-6 m-auto">
   <div class="card card-body register-card">
     <h1 class="text-center mt-3" >註冊</h1>
     {{> message}}
     <form action="/users/register" method="POST">
       <div class="form-group mt-2">
         <label for="name" style="font-size: 25px;"><i class="far fa-user"></i>  名稱: </label>
         <input type="text" name="name" id="name" placeholder="請輸入你的名稱" class="form-control" value="{{ name }}" maxlength="20">
       </div>
       <div class="form-group">
         <label for="email" style="font-size: 25px;"><i class="far fa-envelope "></i>  電子信箱 : </label>
         <input type="email" name="email" id="email" placeholder="請輸入你的信箱地址" class="form-control" value="{{ email }}" maxlength="30">
       </div>
       <div class="form-group">
         <label for="password" style="font-size: 25px;"><i class="fas fa-key"></i>  密碼 :</label>
         <input type="password" name="password" id="password" placeholder="請輸入你的密碼" class="form-control" value="{{ password }}" maxlength="20">
       </div>
       <div class="form-group">
         <label for="confirmPassword" style="font-size: 25px;"><i class="fas fa-key"></i>  確認密碼 :</label>
         <input type="password" name="confirmPassword" id="confirmPassword" placeholder="請輸入你的確認密碼" class="form-control" value="{{ confirmPassword }}" maxlength="20">
       </div>
       <div class="form-inline d-flex justify-content-center mt-4">
       <button type="submit" class="btn btn-primary " id="registerSubmitBtn">註冊</button>
       </div>
       <p class="lead mt-4">有帳號了 !<a href="/users/login">  登入</a></p>
     </form>
   </div>
  </div>
</div>