<div class="showOutPage mt-5">
  <i class="bi bi-info-circle mt-5 d-flex justify-content-center " style="font-size: 5rem; color: rgb(255, 0, 0);"></i>
  {{!-- <i class="fas fa-exclamation "></i> --}}
  <h1 class="test-center mt-5 d-flex justify-content-center">你輸入的` <span class="mx-2 text-info"> {{ query }} </span> `找到不到相關支出記錄。</h1>
</div>