body {
  min-width: 380px;
  background-color: rgb(245, 252, 238);
}

.fa-shuttle-van {
  color: rgb(129, 77, 250);
}

.fa-home {
  color: rgb(0, 179, 250);
}

.fa-utensils {
  color: rgb(50, 243, 32);
}

.fa-grin-beam {
  color: rgb(236, 253, 0);
}

.fa-pen {
  color: rgb(51, 3, 3);
}

.newPage {
  box-shadow: 3px 3px 10px rgb(7, 6, 6,0.7);
  border-radius: 30px;
}
