body {
  min-width: 380px;
  background-color: rgb(245, 252, 238);
}

.fa-shuttle-van {
  color: rgb(129, 77, 250);
}

.fa-home {
  color: rgb(0, 179, 250);
}

.fa-utensils {
  color: rgb(50, 243, 32);
}

.fa-grin-beam {
  color: rgb(236, 253, 0);
}

.fa-pen {
  color: rgb(51, 3, 3);
}

.newPage {
  box-shadow: 3px 3px 10px rgb(7, 6, 6,0.7);
  border-radius: 30px;
}

.loginPage {
  /* border: 1px solid red; */
}

.login-card, .register-card {
  border-radius: 5px;
  box-shadow: 15px 15px 30px rgb(9, 59, 105);
}

.fa-envelope {
  color:rgb(8, 177, 22);
}

.fa-key {
  color: rgb(255, 196, 0);
}

.fa-user {
  color:rgb(30, 201, 253);
}

#loginSubmitBtn {
  background-color:#9a9a9a;
  padding:10px;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-size:25px;
  text-decoration:none;
  color:#fff;
  background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
  box-shadow: inset 0px 1px 0px #c0c0c0, 0px 6px 0px #9a9a9a;
  border-radius: 30px;
}
#loginSubmitBtn:active {
  top:7px;
  background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
  box-shadow: inset 0px 1px 0px #c0c0c0, inset 0px -1px 0px #9a9a9a;
  color: rgba(23, 73, 180, 0.733);
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  background: #c0c0c0;
}

#registerSubmitBtn {
  border-radius: 30px;
  width: 150px;
}

#loginFacebookBtn {
  width: 70px;
  background-color:#9a9a9a;
  padding:10px;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-size:25px;
  text-decoration:none;
  color:#fff;
  background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
  box-shadow: inset 0px 1px 0px #c0c0c0, 0px 6px 0px #9a9a9a;
  border-radius: 30px;
}
#loginFacebookBtn:active {
  top:7px;
  background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
  box-shadow: inset 0px 1px 0px #c0c0c0, inset 0px -1px 0px #9a9a9a;
  color: rgba(23, 73, 180, 0.733);
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  background: #c0c0c0;
}