body {
  min-width: 380px;
}

/* .container {
  border: 1px solid yellow;
} */


/* .row {
  border: 1px solid red;
}

.filter{
  border:  5px solid blue;
}

.filterCategory {

  border: 1px solid brown;
}

.roww {
  border:  15px solid blue;
}
.totalAmount {
  
  border: 10px solid black;
}

.aa {
  border: 5px solid rgb(225, 0, 255);
}
.a {
  border: 1px solid red;
}
.b {
  border: 1px solid blue;
}
.c {
  border: 1px solid brown;
}
.d {
  border: 1px solid green;
}
.b h3 {
  border:rgb(145, 204, 35) 1px solid;
} */